@model IEnumerable<TRANVANTUONG0676.Models.TVTstudent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TVTstudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TVTstudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TVTStudentSex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TVTstudentID)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TVTstudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TVTStudentSex)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TVTstudentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TVTstudentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TVTstudentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
